.footer
  .footer__logo
    img(src='/img/bulacan-nav.png' alt='')
    span Bulacan Resorts
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Contact Us
    li: a(href='#') Careers
  p.footer__copyright &copy; Bulacan Resorts. All rights reserved.