extends base
  
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form--reset#token(data-tokenid=`${tokenId}`)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordC') Confirm Password
          input#passwordC.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green.btn--reset Update Password